body {
        font-size: 14px;
        font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    
}

a:hover {
    text-decoration: underline;
}

img {
    margin-right: 25px;
}

.navbar-icon:hover {
    box-shadow: 0px 0px 100px 10px lightgray inset;
}

#navbar {
    position:fixed;
    top: 0;
    right: 0;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 
#navbar img {
    max-width:100%;
    max-height:70%;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

#logo {
    position: absolute;
    top:  40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
}

form {
    display: block;
    max-width: 70%;
    position: absolute;
    top:  45%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 150px;
}

#search {
    border: 1px solid black;
    width: 65vw;
    border-radius: 24px;
    height: 40px;
    display: flex;
    margin-left: 0%;
    max-width: 500px;
}

.searchbox {
    width: 50vw;
    border: none;
    margin-left: 40px;
    max-width: 400px;
}

#input-image-1 {
    position:absolute;
    top: 10px;
    left: 3%;
    width: 24px;
    height: 24px;
}

#input-image-2 {
    position:absolute;
    top: 8px;
    right: -3%;
    width:20px;
    height:24px;
    border-radius: 50%;
}

*:focus {
    outline: none;
}

button {
    height: 36px;
    border: 1px solid #f8f9fa;
    padding: 0 16px;
    margin-top: 30px;
    background-color: #f8f9fa;
    text-align: center;
    margin-left: 10px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;  
    height: 6%; 

    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#footer #left {
    display: flex;
}

#footer #right {
    display: flex;
}
